.side-bar
  .LeftHeader
    .LeftHeader__list 
      %h3.LeftHeader__username 
        = current_user.name
      .LeftHeader__list__iconsList
        = link_to "#", class: 'LeftHeader__list__iconsList__edit' do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: 'LeftHeader__list__iconsList__cog'do
          = icon('fa', 'cog')

  .GruopList
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージはありません