.side-bar
  .LeftHeader
    .LeftHeader__list 
      %h3.LeftHeader__username
        = current_user.name
      .LeftHeader__list__iconsList
        = link_to new_group_path, class: 'LeftHeader__list__iconsList__edit' do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) , class: 'LeftHeader__list__iconsList__cog'do
          = icon('fa', 'cog')

  .GruopList
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません